/* True Value Red: #DA1A32 */

body {
}

/*Top Logo*/

.top-logo-div {
    padding: 40px 15px 0;
    background-color: #DA1A32;
}

.top-logo-image {
    width: 100%;
}

/*Navbar*/

#navbar {
    background-color: #DA1A32;
}

.logos {
    width: 25%;
    padding: 1.15% 3%;
}

.nav-link {
    font-size: 1.25rem;
    font-weight: bold;
}

/*Header Section*/

.header-text {
    font-family: "Arial", sans-serif;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

/*Hours & Contact Us Section*/


/*Card Section*/

.order-online-card {
    padding: 84px 0;
    background-color: #DA1A32;
}

.order-online-card-footer {
    background-color: #DA1A32;
}

.order-online-button {
    color: #DA1A32;
}
